<div style="display: inline-block; text-align: center">
    <table>
        <tr style="display: inline-block;">
            <div class="Id-Slot" style="text-align: center">
                <h3 style="text-align: center">
                    <a href="/order/@Slot.Id" style="color: #7922CC"> @Slot.Id </a>
                </h3>
            </div>
        </tr>
        <tr>
            <div class="Table-Slot" style="text-align: center; width: 350px">
                <h3>@Slot.Date</h3>
            </div>
        </tr>
        <tr>
            <div class="Table-Slot" style="text-align: center; width: 350px">
                <h3>@Slot.Adress</h3>
            </div>
        </tr>
        <tr>
            <div class="Table-Slot" style="text-align: center; width: 350px; height: auto">
                @foreach (var service in Slot.Services)
                {
                    <h3>@GetServiceName(service).Type @service.Workload</h3>
                }
            </div>
        </tr>
    </table>
</div>
@code {
    [Parameter] public OrderOutputModel Slot { get; set; }

    private ServiceOutputModel GetServiceName(ServiceWorkerOutputModel service)
    {
        return new ServiceManager().GetServiceById(service.ServiceId);
    }
}